[all:vars]
ansible_connection=ssh
ansible_user=vagrant
ansible_host=127.0.0.1

# Fetch from vagrant ssh config
ansible_ssh_common_args='-o LogLevel=FATAL -o Compression=yes -o DSAAuthentication=yes -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

# Escalate user vagrant to root privilege, can specify in playbook as well
# ansible_become=true
